body{background-color: darkgray;
    margin: 0px;
}
header{
    background-color: beige;
    display: flex;
    justify-content: space-between
    ; position: fixed; top: 0; right: 0; left: 0;
}
    ul{
        list-style-type: none;
    }
    li{
        display: inline;
        margin-right: 30px;
    }
    main{
        background-color: antiquewhite;
    margin: 70px 150px 40px;
    padding: 20px;
}
article{border-bottom: 2px solid grey;
    margin-top: 10px;
}
footer{
    background-color: lightsalmon;
    padding: 10px;
}
h5{
    text-align: center;
}
footer {
    background-color: lightsalmon;
    padding: 10px;
}